/* .VendingMachine {
    background-color: red;
    border-radius: 15px;
    max-width: 500px;
    min-height: 800px;
    margin: auto;
}

.VendingMachine-goback {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 50px;
    text-decoration: none;
}

.VendingMachine img {
    max-width: 300px;
} */